// COLORS
$color-primary: #182335;
$color-primary-light: #2f3849;
$color-primary-dark: #151f2f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #eae4cc;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-main: #182335;
$color-creme: #eae4cc;
$color-reddish: #e15546;
$color-pink: #eeaf9d;

$color-pink-light: #ea887d;
$color-pink-dark: #ca4c3f;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
